extends layout

block content
  h1= title
    each player in players
      div
        h4 #{player.last_name}, #{player.first_name}, #{player.id}
        p #{player.date_started}
        p #{player.jersey_number}, #{player.position}
